.form{
    /* Frame 843 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;


    background: #FFFFFF;
    box-shadow: 40px 114px 200px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    margin: 6px 0px;
}

.title{
    /* Welcome back to Fastcast */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    color: #222222;
    margin: 10px 0px;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 398px;
    height: 48px;

    background: #005FFC;
    border-radius: 8px;
    align-self: stretch;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    transition: 0.2s;
}

.button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.button:active{
    transform: scale(1);
}

.link{
    color: #005FFC;
    text-decoration: none;
    text-align:start;

}
.link:hover{
    text-decoration: underline;
}

.groupForm{
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.groupForm input, .groupForm select{
    margin: 10px 0;
    font-size: 20px;
    padding: 8px 5px;
    outline: gray;
}

.groupForm2{
    padding: 10px 0;
    color: #8b8b8b;
    
}

.fileLabel{
    border: 2px solid #cfcfcf;
    border-radius: 8px;
    font-size: 15px;
    text-align: start;
    transition: 0.2s;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 0;

}

.fileb{
    background-color: #005FFC;
    border-radius: 8px;
    margin-right: 10px;
    color: #f8f8f8;
    padding: 12px;
}
.fileLabel:hover{
    transform: scale(1.02);
}
.fileLabel:active{
    transform: scale(1);
}
.groupForm2 .newLine{
    padding: 10px;
    text-align: center;
}



.hiden{
    display: none;
}

.titleComment{
    width: 70%;
    text-align: center;
    color: #8b8b8b;
    padding: 5px;
    font-size: 16px;
}