*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F8F9FB;
}
.AppForm{
    /* MacBook Pro - 2 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 473px;
    position: relative;
}

.App{
    height: 750px;
}

